.field
{
margin-left: 0px;;
margin-right: 0px;
height: 300px;
margin-top: 80px;
width:1345px;
background-color: 	#00008B;
border: hidden;
height: 530px;
}
table
{
 height: 70px;
position:absolute;
 width: 200px;
 background-color: rgb(248, 248, 248);
margin-top: 30px;
margin-left: 100px;

}
.tbr table
{
    height:100px;
    width:200px;
    margin-left:430px;
    height: 100px;
}
.tbr1 table
{
    height:100px;
    width:200px;
    margin-left: 750px;
    height: 100px;
}

.tbr2
{
    
    
    margin-left: 980px;
    background-color: white;
    position:absolute;
 
}
h3{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}
.bdr
{
    margin-top: 150px;
    margin-left: 90PX;
}
.bdr h1
{
    color: whitesmoke;
}
p
{
    color:whitesmoke;
    font-size: large;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.forme
{
    margin-left: 700px;
 
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-left: 30px;
    width: 607px;
    margin-top: -427px;
    background-color: rgba(15, 15, 175, 0.945);
    border:hidden;

}
.forme form
{
    color: white;
    font-size: larger;
  
}
input[type=text]
{ 
 height: 30px;
 width: 600px;
 border-radius: none;
}
input[type=submit]:hover {
    background-color:rgb(74, 238, 230);
 }
 img
 {
     opacity: 100px;
 }
h7
{
margin-left: 98px;
font-size: larger;
color: whitesmoke;
}
.uhme
{
    overflow: hidden;
   margin-left: 70px;
    font-size: larger;
    background-color: black;
    width:70px;
    position: absolute;
    
}
.uhme a
{
    color: red;
    text-decoration: none;
   padding-left: 5px;
}
.uhme a:hover
{
    color: cyan;
}


 